@model List<TinyCrm.Core.Model.Product>

<div class="text-center">
    <h4 class="display-4">Products List</h4>
    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <td>
                    Product Id
                </td>
                <td>
                    Product Name
                </td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var product in Model) {
                    <tr>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
